
.layout-main-container
    height 100vh
    background:#eee;
    min-width 1000px;
.layout-header
    height 60px
    text-align center
    background #152637
    border-bottom  1px solid #dcdfe6
    position relative
.layout-footer
    height 40px
    text-align center
    line-height 40px
    font-size 13px
.layout-header-content
    display flex
.header-content-right
    text-align right
    width: 100px;
.header-content-left
    text-align: left ;
    width: 300px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    color #fff;
.header-content-middle
    flex 1
    line-height 50px
    color #909399
    text-align left
>>>.layout-menu-item
    font-size: 16px;
    font-weight:400;
    height 49px!important;
    line-height: 49px!important;
>>> .layout-menu-item:hover
        background: #606266!important;
        color: #ccc!important;
>>>.layout-menu-item.is-active
    border-bottom: 0!important;
    color: #fff!important;
.header-account
    display inline-block
    vertical-align middle
.accountDropmenu
    vertical-align top
    margin-right: 15px
.accountName
    display inline-block
    vertical-align middle
    cursor pointer
    padding 5px
    box-sizing border-box
    margin-top 5px
    height 40px
    line-height 30px
    font-size: 16px;
    color #fff
    &:hover
        color:  #409EFF;
.layout-main
    padding-top 0
     overflow: hidden
.layout-main-iframe
    display: flex
    flex-direction: column
    overflow: hidden
.layout-iframe-wrap
    display: flex
    flex: 1
.layout-iframe
    flex: 1
.menu-icons
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle
    color: #909399
.layout-aside >>> .el-scrollbar__wrap
  overflow-x: hidden
.layout-aside >>> .el-scrollbar__view
    padding-bottom: 20px